h2 {
  text-align: center;
}

.App {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px 30px 50px 30px;
  max-width: 900px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 150px;
}

#github-link {
  display: block;
  text-align: center;
}
