a {
  color: #ff8400;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #faebd7;
}

.city-side {
  margin-left: 30px;
  margin-top: 20px;
}
.current-weather-details {
  text-align: center;
  list-style-type: none;
  margin-top: 25px;
  margin-left: 110px;
}

.WeatherInfo-icon {
  width: 160px;
  margin-top: -35px;
}

#weather-description{
  margin-left: 6px;
}