a{
    color: #FF8400;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a:hover{
    color: #faebd7;
}

.city-side{
    margin-left: 30px;
}
.current-weather-details {
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 30px;
  }